{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welccome to EmpRev</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-css.css' %}">
    {% block css %}{% endblock %}

  </head>
  <body>
    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
         <div class="container">
              <div class="navbar-header">
                   <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                   </button>

                   <!-- lOGO TEXT HERE -->
                   <a href="/" class="navbar-brand">EmpRev</a>
              </div>

              <!-- MENU LINKS -->
              <div class="collapse navbar-collapse">
                   <ul class="nav navbar-nav navbar-right">
                        <li><a href="/" class="smoothScroll">Home</a></li>
                        <li><a href="/analysis_results/" class="smoothScroll">Analyzed jobs</a></li>
                        <li><a href="/job-posts/" class="smoothScroll">Job search</a></li>
                        <li><a href="/about/" class="smoothScroll">About project</a></li>
                   </ul>
                   <!-- <ul class="nav navbar-nav navbar-right">
                      <li>  Jobs &nbsp;&nbsp; <i class="fa fa-database" style="font-size:2.6em;" aria-hidden="true"></i>&nbsp;&nbsp; Analysis</li>

                   </ul> -->
              </div>


         </div>
    </section>
{% block content %} {% endblock %}





    <!-- SCRIPTS -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!--<script src="js/bootstrap.min.js"></script>-->
    <!--<script src="js/jquery.stellar.min.js"></script>-->
    <!--<script src="js/owl.carousel.min.js"></script>-->
    <!--<script src="js/smoothscroll.js"></script>-->
    <!--<script src="js/custom.js"></script>-->


  </body>
</html>
