{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="initial-details-sect head-sect">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-7 short-details">
                <h2>{{ job_post.title }} <small class="small-h2">in {{ job_post.company }}</small></h2>

                <div class="row">
                  <div class="col-md-3">
                    <p><strong>Location</strong></p>
                    <p style="font-size:13px;"> {{ job_post.location }} </p>
                  </div>
                  <div class="col-md-3">
                    <p><strong>Contract</strong></p>
                    <p style="font-size:13px;"> {{ job_post.emp_type }} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <p><strong>Salary</strong></p>
                    <p style="font-size:13px;"> {{ job_post.salary }} </p>
                  </div>
                  <div class="col-md-4">
                    <p><strong>Posted</strong></p>
                    <p style="font-size:13px;"> {{ job_post.updated }} </p>
                  </div>
                </div>
              </div>
              <div class="col-md-5 short-details">
                <div class="job-btns" style="margin-top:70px;">
                  <!--Some urls are not complete and this is my mistake when scraping from irishjobs-->
                  {% if 'http' not in job_post.url %}
                    <a href="https://www.irishjobs.ie{{job_post.url.split|join:''}}" class="view-src-btn">View source</a>
                  {% else %}
                    <a href="{{ job_post.url }}" class="view-src-btn">View source</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
    </section>
    <section class="full-desc-sect">
      <div class="container">
        <div class="row">
          <div class="full-details col-lg-12">
            <p style="line-heigth:5em">{{ job_post.full_desc|linebreaksbr }}</p>

          </div>
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </section>
{% endblock %}
