{% extends 'base.html' %}
{% load static %}

{% block title %}
    Job search
{% endblock %}


{% block content %}
    <section class="search-section head-sect">
      <div class="container jobs-list-container">
          <!--<div class="row">-->
              <!--<div class="col-md-12">-->
                <!--<form class="form-inline" method="get" action="{% url 'search' %}">-->
                    <!--<input name="title" class="form-control">-->
                    <!--<input name="location" class="form-control">-->
                    <!--<button type="submit">Submit</button>-->
                <!--</form>-->
              <!--</div>-->
          <!--</div>-->

        <!--ORIGINAL FORM-->
        <div class="row">
           <div class="col-lg-12">
             <h2>Job search <small class="small-h2"></small></h2>
             <p>Fill in either of the details together or separately.</p>
           </div>
           <!-- SEARCH FORM -->
             <form method="get" action="{% url 'search' %}" class="form-inline search-form justify-content-center col-lg-12" style="margin-top:10px;">
              <div class="form-group col-lg-3">
                <input type="text" class="form-control" name="title" placeholder="Keyword, job title or company">
              </div>
                 <!--<div class="form-group col-lg-3">-->
                    <!--<input type="text" class="form-control" name="location" placeholder="Location">-->
                  <!--</div>-->
              <div class="col-lg-2 text-center">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
              </div>

            </form>
        </div>
      </div>
    </section>


    <section class="search-results-section">
        <div class="container">
            <!-- JOB POST -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="results-head">Results - {{ count }}</h2>
                    <hr style="margin-bottom: 8px;">
                </div>
            </div>
            <!--{% for job_post in object_list %}-->
            <!--<li>{{ job_post.title }}</li>-->
            <!--{% endfor %}-->
            {% for job_post in object_list %}

            <div class="row">
                <div class="col-lg-11 job-post " style="border-top: 2px solid #f9f9f9;">
                    <div class="col-lg-10 job-details ">
                        <h4 class="col-lg-6 col-md-5 "> {{ job_post.title }} <small> in {{ job_post.company }} </small></h4>
                        <p class="job-date text-right col-lg-6">{{ job_post.updated }}</p>
                        <p class="col-lg-12 comp-name">{{ job_post.location }}</p>
                        <p class="col-lg-12 short-desc">{{ job_post.short_desc }}</p>
                    </div>
                    <div class="col-lg-2 job-details text-center" style="padding-top:50px;">
                        <a href="{{ job_post.id }}/" class="viewjob-btn">View more</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- PAGINATION-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center pagination-sm">
                    {% if page_obj.has_previous %}
                      <!-- If it ain't a search result display, don't append the search query
                           to the URL. -->
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                      </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    {% endif %}
                    {% for object in page_obj.paginator.page_range %}
                        {% if object <= page_obj.number|add:2 and object >= page_obj.number|add:-2 %}
                            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?{{search}}&page={{ page_obj.next_page_number }}">Next</a>
                      </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                    {% endif %}

                </ul>
            </nav>

            <!--<nav aria-label="Page navigation example" class="text-center list-pag row">-->
              <!--<ul class="pagination justify-content-center">-->
                <!--{% if page_obj.has_previous %}-->
                <!--<li class="page-item">-->
                  <!--<a class="page-link" href="/job-posts?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>-->
                <!--</li>-->
                <!--{% endif %}-->
                <!--<li class="page-item"><a class="page-link" href="/job-posts?page=1">1</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="/job-posts?page=1">2</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="/job-posts?page=1">3</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="/job-posts?page=1">4</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="/job-posts?page=6">5</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="/job-posts?page=6">6</a></li>-->
                <!--{% if page_obj.has_next %}-->
                <!--<li class="page-item">-->
                  <!--<a class="page-link" href="/job-posts?page={{ page_obj.next_page_number }}">Next</a>-->
                <!--</li>-->
                <!--{% endif %}-->
              <!--</ul>-->
            <!--</nav>-->

        </div>

</section>





    <!--{% if is_paginated %}-->
        <!--<div class="pagination">-->
            <!--<span class="page-links">-->
                <!--{% if page_obj.has_previous %}-->
                    <!--<a href="/job-posts?page={{ page_obj.previous_page_number }}">previous</a>-->
                <!--{% endif %}-->
                <!--<span class="page-current">-->
                    <!--Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
                <!--</span>-->
                <!--{% if page_obj.has_next %}-->
                    <!--<a href="/job-posts?page={{ page_obj.next_page_number }}">next</a>-->
                <!--{% endif %}-->
            <!--</span>-->
        <!--</div>-->
    <!--{% endif %}-->



<br><br><br>

{% endblock %}


