.custom-navbar {
  padding: 30px 0 !important;
}

.custom-navbar .navbar-brand {
  color: #fff !important;
}


.custom-navbar .nav li a {
  color: #fff !important;
}


@media(min-width:768px) {
  .custom-navbar {
    background: transparent !important;
    transition: .1s;

  }

  .custom-navbar.top-nav-collapse {
    background: #ffffff !important;
    padding: 10px 0 !important;
    transition: .2s;
  }

  .top-nav-collapse .navbar-brand {
    color: #575757 !important;
  }

  .top-nav-collapse .nav li a {
    color: #575757 !important;
  }


}
