{% extends 'base.html' %}
{% load static %}

{% block title %}
    Definetly IT descriptions
{% endblock %}

{% block content %}
      <section class="analysis-results head-sect">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Jobs analysis results</h3>
                    <p>Results of the data analysis conducted on the job posts gathered.</p>
                    <br>
                </div>
                <!--<div class="col-md-12" style="margin-top:20px;">-->
                    <!--<a href="#">Distribution of the IT jobs per location in Ireland</a> <br> <br>-->
                    <div class="col-md-3">

                        <a class='section-btn' style="margin-top:20px;" href="classified_jobs/">Classified jobs</a>
                    </div>
                    <div class="col-md-4">
                        <a class='section-btn' style="margin-top:20px;" href="job_areas/">IT job areas as topics</a>
                    </div>
                     <!--<br> <br>-->


                <!--</div>-->

                <!--PLOT-->
                <div class ="col-md-12">
                    <iframe src="https://plot.ly/~kambala/3.embed"
        height="600" width="100%"
        scrolling="no" seamless="seamless"
        frameBorder="0"
        style="padding-top:50px;">
</iframe>

                </div>

            </div>
        </div>
      </section>
{% endblock %}