{% extends 'base.html' %}
{% load static %}

{% block title %}
    Definetly IT descriptions
{% endblock %}

{% block content %}
      <section class="class-jobs head-sect">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
               <h3>&nbsp;Classified - Definetly IT descriptions</h3>
                <br>
                <a class="section-btn" href="{% url 'prob_it_list' %}"> Probably IT jobs</a>
               <br><br><br>
            </div>
             <div class="col-md-12">
                <table class="table class-jobs-table">
                   <thead>
                       <tr>
                           <th class="text-center" style="width:60px;">#</th>
                           <th>Job description</th>
                       </tr>
                   </thead>
                   <tbody>
                      {% for description in object_list %}

                       <tr>
                           <td class="text-center" style="width:60px;">{{ description.id }}</td>
                           <td>
                               {{ description.description }}
                           </td>
                       </tr>
                      {% endfor %}
                   <!--{% for description in object_list %}-->
                        <!--{{ description.id }}-->
                        <!--{{ description.description }}-->
                   <!--{% endfor %}-->

                   </tbody>
                </table>
             </div>
          </div>
        </div>
      </section>
{% endblock %}