{% extends 'base.html' %}
{% load static %}

{% block title %}
    Definetly IT descriptions
{% endblock %}

{% block content %}
<div class="container" style="margin-top:110px;">
    <div class="row">
    <div class="col-md-12">
        <h3>IT job areas found through topic modelling</h3>
        <br>
        <a class="section-btn" href="#job-areas">See job areas</a>
        <br><br>
    </div>
</div>
</div>
<div class="container">
    <iframe width="100%" height="700" style="margin-top:10px;" src="{% url '40_topics_vis' %}"></iframe>
</div>

      <section class="job-areas" id="job-areas">
        <div class="row">
           <div class="col-md-12">

           </div>
           <div class="col-md-10 col-md-offset-1">
              <table class="table areas-list">
                 <thead>
                     <tr>
                         <th class="topic_nr">Topic Nr.</th>
                         <th class="text-left">Job Area</th>
                     </tr>
                 </thead>
                 <tbody class="text-center">
                     <tr>
                         <td>2</td>
                         <td class="text-left">Project management</td>

                     </tr>
                     <tr>
                         <td>3</td>
                         <td class="text-left">Software engineer</td>
                     </tr>
                     <tr>
                         <td>6</td>
                         <td class="text-left">Web Developer</td>
                     </tr>
                     <tr>
                         <td>7</td>
                         <td class="text-left">System admin</td>
                     </tr>
                     <tr>
                         <td>9</td>
                         <td class="text-left">Deployment engineer</td>
                     </tr>
                     <tr>
                         <td>10</td>
                         <td class="text-left">IT support</td>
                     </tr>
                     <tr>
                         <td>15</td>
                         <td class="text-left">Testing</td>
                     </tr>
                     <tr>
                         <td>16</td>
                         <td class="text-left">Data analytics</td>
                     </tr>
                     <tr>
                         <td>19</td>
                         <td class="text-left">C/.NET Developer</td>
                     </tr>
                     <tr>
                         <td>20</td>
                         <td class="text-left">Web design</td>
                     </tr>
                     <tr>
                         <td>20</td>
                         <td class="text-left">Network engineer</td>
                     </tr>


                 </tbody>
              </table>
           </div>
        </div>
      </section>

{% endblock %}