
{% extends 'base.html' %}
{% load static %}

{% block title %}
    Probably IT descriptions
{% endblock %}

{% block content %}
      <section class="class-jobs head-sect">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
               <h3>&nbsp;Classified - Probably IT descriptions</h3>
               <br>
                <a class="section-btn" href="{% url 'def_it_list' %}"> Definetly IT jobs</a>
               <br><br><br>
            </div>
             <div class="col-md-12">
                <table class="table class-jobs-table">
                   <thead>
                       <tr>
                           <th></th>
                           <th>Job description</th>
                       </tr>
                   </thead>
                   <tbody>
                     {% for description in object_list %}
                       <tr>
                           <td>{{description.id}}</td>
                           <td>
                            {{ description.description }}
                           </td>
                       </tr>
                     {% endfor %}



                   </tbody>
                </table>
             </div>
          </div>
        </div>
      </section>

{% endblock %}

